body {
    margin: 5px;
    width: 360px;
    text-align: center;
}

input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px #5f9341 solid;
    padding: 10px;
}

button {
    border: 0;
    background-color: #5f9341;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
}

#delete-btn {
    background-color: red;
}

ul {
    list-style: none;
    padding-left: 2px;
}

li {
    margin-top: 5px;
    font-size: medium;
}

a {
    color: red;
}